/* Start coding here */
html {
    font-size: 16px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
}

body {
    font-family: 'Kanit';
    color: #1E3A4B;
    line-height: 1.6;
    background: linear-gradient(to right, hsl(0, 100%, 70%), hsl(240, 100%, 70%));
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    padding: 50px 30px 50px 30px;
    width: 25%;
    background-color: hsla(0, 50%, 100%, 0.5);
}

